
header{
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;

}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 40px;
    font-size: 30px;
}
h1{
    margin-left: 100px;
}
.slider{
    background-image: url(/img/image.png);
}
.slider h2{
    margin-bottom: 100px;
    margin-left: 500px;
}
.slider p{
    margin-left: 500px;
    margin-bottom: 90px;
}
.slider button{
     margin-left: 500px;
    margin-bottom: 80px;

}



.welcome p{
    margin-left: 550px;
}
.welcome h3{
    margin-left: 600px;
}
.welcome-part{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
i{   
 text-align: center
}
.welcome1 i :hover{
    color: aquamarine;
}
.welcome2 i :hover{
    color: aquamarine;
}
.welcome3 i :hover{
    color: aquamarine;
}
.welcome4 i :hover{
    color: aquamarine;
}
.welcome1:hover{
    background-color: rgb(9, 208, 135);
     color: brown;
}
.welcome2:hover{
    background-color: rgb(9, 208, 135);
    color: brown;

}
.welcome3:hover{
    background-color: rgb(9, 208, 135);
    color: brown;
    
}
.welcome4:hover{
    background-color: rgb(9, 208, 135);
    color: brown;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 150px;
    padding-right: 650px;

}
a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
   
}
.welcome1{
    background-color: rgb(138, 138, 154);
}
.welcome2{
    background-color:rgb(138, 138, 154) ;
}
.welcome3{
    background-color: rgb(138, 138, 154);
}
.welcome4{
    background-color: rgb(138, 138, 154);
}
.insta i:hover{
    color: rgb(194, 64, 88);
}
.tele i:hover{
    color: rgb(37, 95, 228);
}
.face i:hover{
   color: rgb(53, 53, 165); 
}
.whatss i:hover{
    color:rgb(9, 164, 27);
}
footer{
  display: flex;
 gap: 50px;
 background-color: antiquewhite;
 height: 130px;
align-items: center;
padding-left: 550px;
}
.ind {
    text-align: center;
    padding: 30px 0;
}
.welcome1, .welcome2, .welcome3, .welcome4 {
    background: linear-gradient(135deg, #faefdd, #f5e4c8);
    border: 2px solid white;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.welcome1:hover,
.welcome2:hover,
.welcome3:hover,
.welcome4:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}
.slider h2 {
    font-size: 58px;
    font-weight: 700;
    color: #050404;
    text-shadow: 3px 3px 0 #ffffff, 6px 6px 10px rgba(0,0,0,0.25);
}

.photos {
    display: flex;                  
    justify-content: space-around;  
    text-align: center;
    gap: 20px;                      
    margin: 40px 0;                 
}
.photos div {
    background-color: #faf3e6;      
    border-radius: 15px;            
    padding: 15px;
    flex: 1;                         
    max-width: 250px;                
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.photos div:hover {
    transform: translateY(-10px);     
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.photos div img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}
.type1 {
    display: flex;
 gap: 50px;
 background-color: antiquewhite;
 align-items: center;
 padding-left: 350px;
}








